@import "~@global/scss/variables";

* {
  box-sizing: border-box;
}

body {
  font: 1rem sans-serif;
  padding-top: 80px;
}

img {
  vertical-align: middle;
}

a {
  color: #222;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

table,
td,
th,
tr, {
  padding: 15px 30px;
  border-bottom: 1px solid #000;
  border-collapse: collapse;
  text-align: center;
}

.g-container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  padding: 0 30px;
}

.g-error {
  font-size: 12px;
  color: #f00;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}

.g-button {
  padding: 15px 60px;
  border: none;
  border-radius: 50px;
  background-color: $main-color;
  font-size: 16px;
  transition: transform 0.2s ease;
  display: inline-block;
  user-select: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
  color: #fff;

  &:hover,
  :target,
  :focus {
    transform: scale(1.05);
    box-shadow: 0 2px 7px #000;
  }

  &:active {
    transform: scale(1);
  }

  &:focus {
    box-shadow: 0 2px 7px #000;
  }
}

.g-input {
  border: none;
  padding: 5px 10px;
  border-bottom: 1px solid #000;
  width: 100%;
  outline: none;
  margin-top: 10px;

  &:focus {
    box-shadow: 0 2px 8px #000;
  }
}
