<template>
  <form
    class="registration"
    @submit.prevent="registration"
  >
    <div
      class="registration__block"
    >
      Укажите свое имя и фамилию
      <input
        v-validate="'required'"
        v-model="inputName"
        type="text"
        class="tests__input"
        name="name"
      >
    </div>
    <div
      class="registration__block"
    >
      Укажите номер группы
      <input
        v-validate="'required'"
        v-model="inputGroup"
        type="text"
        class="tests__input"
        name="group"
      >
    </div>
    <div class="registration__button-wrapper">
      <button
        class="tests__button registration__button"
        type="submit"
      >
        Начать тестирование
      </button>
      <transition name="bounce">
        <div
          v-show="error"
          class="tests__error registration__error"
        >
          Заполните все поля
        </div>
      </transition>
    </div>
  </form>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'Registration',

  data: () => ({
    inputName: '',
    inputGroup: '',
    user: {},
    errorName: false,
    errorGroup: false,
    error: false,
  }),

  methods: {
    ...mapMutations('tests', [
      'updateState',
    ]),

    registration() {
      this.$validator.validateAll()
        .then((isValid) => {
          if (!isValid) {
            this.error = true;
            return;
          }
          this.user.name = this.inputName;
          this.user.group = this.inputGroup;
          this.inputName = '';
          this.inputGroup = '';
          this.updateState(this.user);
          this.$emit('next-step');
        });
    },
  },
};
</script>

<style lang="scss">
.registration {
  &__block {
    padding: 10px;
    position: relative;
    margin-bottom: 40px;
  }

  &__error {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
  }

  &__button-wrapper {
    text-align: center;
    position: relative;
  }
}
</style>
