<template>
  <div>
    <div>
      Студент: <b>{{ name }}</b>
    </div>
    <br>
    <div>
      Группа: <b>{{ group }}</b>
    </div>
    <br>
    <div>
      Ваш результат:  <b>{{ rating }}%</b> правильных ответов
    </div>
    <br>
    <div>
      Прошло времени:  <b>{{ formatTime(testTime) }}</b>
    </div>
    <br>
    <button
      class="tests__button"
      @click="$emit('restart')"
    >
      Пройти тест заново!
    </button>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import Registration from './Registration';

export default {
  name: 'Results',

  components: {
    Registration,
  },

  computed: {
    ...mapState('tests', [
      'name',
      'group',
      'rating',
      'testTime',
    ]),
  },

  methods: {
    formatTime(time) {
      const minutes = time / 60;
      const seconds = time - Math.floor(minutes) * 60;
      const fixNumber = (number) => {
        const roundedNumber = Math.floor(number);
        return roundedNumber >= 10 ? roundedNumber : `0${roundedNumber}`;
      };

      return `${fixNumber(minutes)}:${fixNumber(seconds)}`;
    },
  },
};
</script>
