<template>
  <div>
    <button
      class="tests__button"
      @click="startTest()"
    >
      Начать тест
    </button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'StartButton',

  computed: {
    ...mapGetters('tests', [
      'testPassword',
    ]),
  },

  methods: {
    startTest() {
      this.$emit('next-step', (this.testPassword ? 1 : 2));
    },
  },
};
</script>
