<template>
  <div class="testing">
    <div class="testing__question">
      Вопрос: <b>{{ tests[questionNumber].question }}</b>
    </div>
    <div
      v-for="answer of tests[questionNumber].answers"
      :key="answer.id"
    >
      <label class="testing__answer">
        <input
          v-model="selectAnswer"
          :value="answer.is"
          name="answer"
          type="radio"
        >
        {{ answer.name }}
      </label>
    </div>
    <div class="testing__button-wrapper">
      <button
        class="tests__button"
        @click="nextAnswer"
      >
        Следующий вопрос
      </button>
      <transition name="bounce">
        <div
          v-if="isError"
          class="tests__error">
          Выберите один из вариантов
        </div>
      </transition>
    </div>
    <div class="testing__counter">
      Вопрос: <b>{{ questionNumber + 1 }} из {{ tests.length }}</b>
    </div>
    <div class="testing__time">
      Время прохождения теста: <b>{{ formatTime(testTime) }}</b>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';

export default {
  name: 'Testing',

  data: () => ({
    tests: [],
    questionNumber: 0,
    selectAnswer: '',
    isError: false,
    rating: 0,
    user: {},
    testTime: 0,
  }),

  computed: {
    ...mapGetters('tests', [
      'mixedTests',
    ]),
  },

  created() {
    this.timer();
    this.getMixedTests();
  },

  methods: {
    ...mapMutations('tests', [
      'updateState',
    ]),

    getMixedTests() {
      this.tests = this.mixedTests;
    },

    formatTime(time) {
      const minutes = time / 60;
      const seconds = time - Math.floor(minutes) * 60;
      const fixNumber = (number) => {
        const roundedNumber = Math.floor(number);
        return roundedNumber >= 10 ? roundedNumber : `0${roundedNumber}`;
      };

      return `${fixNumber(minutes)}:${fixNumber(seconds)}`;
    },

    timer() {
      setInterval(() => {
        this.testTime += 1;
      }, 1000);
    },

    nextAnswer() {
      if (this.selectAnswer) {
        this.isError = false;
        if (this.selectAnswer === 1) {
          this.rating = this.rating + 1;
        }
        this.selectAnswer = '';
        if (this.tests.length !== this.questionNumber + 1) {
          this.questionNumber = this.questionNumber + 1;
        } else {
          this.testEnd();
        }
      } else {
        this.isError = true;
      }
    },

    testEnd() {
      this.rating = (100 / this.tests.length * this.rating).toFixed();
      this.$emit('next-step');
      this.user.rating = this.rating;
      this.user.testTime = this.testTime;
      this.updateState(this.user);
    },
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.testing {
  width: 400px;

  &__question {
    margin-bottom: 20px;
    padding-left: 20px;
    display: block;
    flex-wrap: wrap;
  }

  &__answer {
    font-weight: 700;
    display: block;
    border: 1px solid $main-color;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    transition-property: background-color, color;

    &:hover {
      background-color: $main-color;
      color: #fff;
    }
  }

  &__button-wrapper {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
  }

  &__time,
  &__counter {
    margin-top: 100px;
    text-align: center;
  }

  &__time {
    margin-top: 10px;
  }
}
</style>
