<template>
  <div class="unlocking">
    Для начала теста введите пароль
    ({{ testPassword }})
    <form
      @submit.prevent="unlocking()"
    >
      <input
        v-model="password"
        type="password"
        class="tests__input"
      >
      <div class="unlocking__button-wrapper">
        <button
          type="submit"
          class="tests__button"
        >
          Принять
        </button>
        <transition name="bounce">
          <p
            v-if="isError"
            class="tests__error unlocking__error"
          >
            {{ errorText }}
          </p>
        </transition>
      </div>
    </form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  nmae: 'Unlocking',
  data: () => ({
    isError: false,
    errorText: '',
    password: '',
  }),

  computed: {
    ...mapGetters('tests', [
      'testPassword',
    ]),
  },

  methods: {
    unlocking() {
      if (this.password === this.testPassword) {
        this.password = '';
        this.$emit('next-step');
      } else {
        if (this.password) {
          this.errorText = 'Вы ввели не верный пароль!';
        } else {
          this.errorText = 'Введите пароль!';
        }
        this.password = '';
        this.isError = true;
      }
    },
  },
};
</script>

<style lang="scss">
.unlocking {
  &__button-wrapper {
    text-align: center;
    position: relative;
  }
}
</style>
