<template>
  <div class="g-container tests">
    <transition
      name="fade"
      mode="out-in"
    >
      <StartButton
        v-if="testStep === 1"
        @next-step="nextStep"
      />
      <Unlocking
        v-if="testStep === 2"
        @next-step="nextStep"
      />
      <Registration
        v-if="testStep === 3"
        @next-step="nextStep"
      />
      <Testing
        v-if="testStep === 4"
        @next-step="nextStep"
      />
      <Results
        v-if="testStep === 5"
        @restart="restart"
      />
    </transition>
  </div>
</template>

<script>
import StartButton from './components/StartButton';
import Unlocking from './components/Unlocking';
import Registration from './components/Registration';
import Testing from './components/Testing';
import Results from './components/Results';

export default {
  name: 'App',

  components: {
    StartButton,
    Unlocking,
    Registration,
    Testing,
    Results,
  },

  data: () => ({
    testStep: 1,
  }),

  methods: {
    nextStep(step = 1) {
      this.testStep = this.testStep + step;
    },

    restart() {
      this.testStep = 1;
    },
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.tests {
  display: flex;
  justify-content: center;
  padding-top: 100px;

  &__button {
    padding: 15px 60px;
    border: none;
    border-radius: 50px;
    background-color: $main-color;
    font-size: 16px;
    transition: transform 0.2s ease;
    display: inline-block;
    user-select: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    color: #fff;

    &:hover,
    :target,
    :focus {
      transform: scale(1.05);
      box-shadow: 0 2px 7px #000;
    }

    &:active {
      transform: scale(1);
    }

    &:focus {
      box-shadow: 0 2px 7px #000;
    }
  }

  &__input {
    border: none;
    padding: 5px 10px;
    border-bottom: 1px solid $main-color;
    width: 100%;
    outline: none;
    margin-top: 10px;
    font-size: 1.2em;

    &:focus {
      border-bottom: 1px solid transparent;
      box-shadow: 0 2px 8px #000;
    }
  }

  &__error {
    position: absolute;
    top: 80px;
    left: 10%;
    right: 10%;
    padding: 10px;
    color: rgb(243, 85, 57);
    border: 1px solid rgb(243, 85, 57);
    background-color: rgb(255, 236, 233);
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
  }
}

.fade-enter-active {
  transition: all 0.3s ease;
}

.fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-enter,
.fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}

.bounce-leave-active {
  opacity: 0;
  transition: opacity 1s ease;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
</style>
