<template>
  <nav class="navbar">
    <div class="g-container">
      <router-link
        class="navbar__link"
        to="/"
      >
        Sudoku
      </router-link>
      <router-link
        class="navbar__link"
        to="/tests"
      >
        Tests
      </router-link>
    </div>
  </nav>
</template>

<style lang="scss" scoped>
@import "../global/scss/_variables.scss";

.navbar {
  background-color: $main-color;
  padding: 20px 0;

  &__link {
    color: #fff;
    text-transform: uppercase;
    margin: 0 10px;
  }
}
</style>
