<template>
  <div class="settings">
    <div class="settings__wrapper">
      <div class="settings__section settings__section--center">Выберите режим судоку</div>
      <div class="settings__section settings__section--between">
        <label>
          <input
            v-model="mode"
            type="radio"
            value="filled"
            @change="isValidate"
          >
          Готовые
        </label>
        <label>
          <input
            v-model="mode"
            type="radio"
            value="empty"
            @change="isValidate"
          >
          Пустые поля
        </label>
      </div>
      <div class="settings__section settings__section--between">
        <div class="settings__element">
          <transition
            name="fade"
            mode="out-in"
          >
            <div
              v-if="mode === 'empty'"
            >
              <span>
                Выберите сложность:
              </span>
              <br>
              <div>
                <select
                  v-model="level"
                  class="settings__select"
                  @change="isValidate"
                >
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </div>
          </transition>
        </div>
        <div class="settings__element">
          <transition
            name="fade"
            mode="out-in"
          >
            <div v-if="mode === 'filled'">
              <span>
                Выберите сложность:
              </span>
              <div>
                <select
                  v-model="levelIndex"
                  class="settings__select"
                  @change="isValidate"
                >
                  <option
                    v-for="(sudokuLevel, sudokuLevelIndex) in sudoku"
                    :key="sudokuLevelIndex"
                    :value="sudokuLevelIndex"
                  >
                    {{ sudokuLevel.level }}
                  </option>
                </select>
              </div>
            </div>
          </transition>
          <transition
            name="fade"
            mode="out-in"
          >
            <div v-if="(levelIndex || levelIndex === 0) && mode === 'filled'">
              <span>
                Выберите уровень:
              </span>
              <div>
                <select
                  v-model="sudokuIndex"
                  class="settings__select"
                  @change="isValidate"
                >
                  <option
                    v-for="(puzzle, puzzleIndex) in sudoku[levelIndex].puzzles"
                    :key="puzzleIndex"
                    :value="puzzleIndex"
                  >
                    {{ puzzle.id }}
                  </option>
                </select>
              </div>
            </div>
          </transition>
        </div>
      </div>
      <div class="settings__section settings__section--center">
        <transition name="bounce">
          <button
            v-if="isStartButton"
            class="g-button"
            @click="start"
          >
            Запуск
          </button>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'Settings',

  data: () => ({
    mode: '',
    level: '',
    levelIndex: null,
    sudokuIndex: null,
    isStartButton: false,
  }),

  computed: {
    ...mapState('sudoku', [
      'sudoku',
    ]),
  },

  methods: {
    clearSelect() {
      this.mode = '';
      this.level = '';
      this.levelIndex = null;
      this.sudokuIndex = null;
    },

    isValidate() {
      if (
        (this.level
        && this.mode === 'empty')
        || (this.levelIndex >= 0
        && this.levelIndex !== null
        && this.sudokuIndex >= 0
        && this.sudokuIndex !== null
        && this.mode === 'filled')
      ) {
        this.isStartButton = true;
      } else {
        this.isStartButton = false;
      }
    },

    start() {
      if (
        (this.level
        && this.mode === 'empty')
        || (this.levelIndex >= 0
        && this.levelIndex !== null
        && this.sudokuIndex >= 0
        && this.sudokuIndex !== null
        && this.mode === 'filled')
      ) {
        this.$emit('start', this.level, this.mode, this.levelIndex, this.sudokuIndex);
      }
    },
  },
};
</script>

<style lang="scss">
.settings {
  display: flex;
  justify-content: center;

  &__wrapper {
    width: 400px;
  }

  &__section {
    display: flex;
    padding: 20px;
    min-height: 70px;

    &--center {
      justify-content: center;
    }

    &--between {
      justify-content: space-between;
      position: relative;
    }
  }

  &__select {
    width: 100%;
  }

  &__element {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
  }
}

// .bounce-enter-active {
//   animation: bounce-in 0.5s;
// }

// .bounce-leave-active {
//   opacity: 0;
//   transition: opacity 1s ease;
// }

// @keyframes bounce-in {
//   0% {
//     transform: scale(0);
//   }

//   100% {
//     transform: scale(1);
//   }
// }
</style>
